body {
    user-select: none;
    box-sizing: border-box;
    background-color: #aaaaaa;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.categories {
    width: 40%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.category {
    border-radius: 20px;
    border: 8px solid;
    margin: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.calendar {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 30px;
}

.day {
    border: #282c34 solid 2px;
    border-radius: 20px;
    background-color: #fa5d49;
    padding: 10px;
}

.holiday {
    background-color: #ffe22e;
    border-color: #ffe22e;
}

.work {
    background-color: #5c51ff;
    border-color: #5c51ff;
}

.errands {
    background-color: #25a61f;
    border-color: #25a61f;
}

.sick {
    background-color: #63ffd8;
    border-color: #63ffd8;
}

.selected {
    border: 8px solid black;
}